# Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [2]:
import pandas as pd

In [87]:
ratings = pd.read_csv('ratings.csv')

In [88]:
filtered_ratings = ratings[ratings['rating']==5.0] #получили таблицу с фильмами с оценкой 5.0 (фильмов 2954)

filtered_ratings.groupby('movieId').count().sort_values('userId', ascending=False).head(1)

         userId  rating  timestamp
movieId
318         153     153        153

# Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [100]:
data = pd.read_csv('power.csv')

In [101]:
filtered_data = data[((data['country']=='Latvia')|(data['country']=='Lithuania')|(data['country']=='Estonia')) & ((data['year']>= 2005) & (data['year']<= 2010)) & ((data['category']==4)|(data['category']==12)|(data['category']==21)) & (data['quantity']>0)]

print('Cуммарное потребление стран Прибалтики:',filtered_data['quantity'].sum())

Cуммарное потребление стран Прибалтики: 240580.0

# Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):

https://fortrader.org/quotes

https://www.finanz.ru/valyuty/v-realnom-vremeni

In [107]:
data = pd.read_html('https://www.finanz.ru/valyuty/v-realnom-vremeni', encoding='utf-8')[0]

data

,0,1,2,3,4,5,6,7,8,9,10,11
0,ММВБ,2 800,"-0,6%",Nasdaq,11 672,"-0,4%",Биткойн,11 393,"0,2%",USD/RUB,779262,"-0,1%"
1,РТС,1 133,"0,1%",S&P500,3 484,"0,0%",Нефть,429,"-0,4%",EUR/RUB,911850,"0,0%"
2,Dow,28 606,"0,4%",FTSE100,5 920,"1,5%",Золото,1 899,"-0,5%",EUR/USD,11717,"0,1%"