# Задание 1
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [2]:
import pandas as pd

In [27]:
ratings = pd.read_csv('ratings.csv')

ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [28]:
def rating_function (r):
    if r <= 2:
        return 'Низкий рейтинг'
    elif r <= 4:
        return 'Средний рейтинг'
    elif r <= 5:
        return 'Высокий рейтинг'

In [29]:
ratings['class'] = ratings['rating'].apply(rating_function)

ratings.head()

   userId  movieId  rating  timestamp            class
0       1        1     4.0  964982703  Средний рейтинг
1       1        3     4.0  964981247  Средний рейтинг
2       1        6     4.0  964982224  Средний рейтинг
3       1       47     5.0  964983815  Высокий рейтинг
4       1       50     5.0  964982931  Высокий рейтинг

# Задание 2
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']

}

Результат классификации запишите в отдельный столбец region.

In [107]:
geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [108]:
keywords = pd.read_csv('keywords.csv')
keywords.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [109]:
def kw (words):
    split_word = words.split(' ')    #Делю поисковую фразу на слова. split_word - список слов в поисковой фразе.

    for i in split_word:             #В цикле прохожусь по всем словам в списке split_word.
        for k,v in geo_data.items(): #Во вложенном цикле сраниваю слово из split_word со значениями словаря geo_data.
            if i in v:
                return k             #Если совпадение найдено, возвращаем ключ списка, в котором найдено совпадение     
    
    return 'undefined'

In [110]:
keywords['region'] = keywords['keyword'].apply(kw)

Чтобы удостовериться, что функция работает верно, я сформировала объект df, проверила на нём:

In [111]:
df = pd.DataFrame({'keyword': ['вк псков', 'одноклассники тула', 'ютуб'], 'shows': [1, 2, 3]})

df['region'] = df['keyword'].apply(kw)

df

              keyword  shows        region
0            вк псков      1  Северо-Запад
1  одноклассники тула      2         Центр
2                ютуб      3     undefined